@import "./variables.css";
@import "./pages.css";
@import "./badges.css";
@import "./options-boxes.css";
@import "./inline-demo.css";
@import "./utilities.css";
@import "./style-guide.css";

.button,
a.button,
.vt-doc a.button {
  font-size: 16px;
  display: inline-block;
  background-color: var(--vt-c-bg-mute);
  padding: 8px 18px;
  font-weight: 500;
  border-radius: 8px;
  transition: background-color 0.5s, color 0.5s;
  color: var(--vt-c-text-code);
}

.button.button-primary,
a.button.button-primary,
.vt-doc a.button.button-primary {
  background-color: var(--vt-c-brand);
  color: var(--vt-c-text-inverse-1);
}

.vp-adaptive-theme pre + pre {
  display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="color"],
textarea,
input:not([type]) {
  background-color: var(--vt-c-bg-mute);
  border: 1px solid var(--vt-c-border);
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 16px;
  color: var(--vt-c-text);
  transition: background-color 0.15s, color 0.15s, box-shadow 0.15s, border-color 0.15s;
  width: 100%;
  display: block;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="color"]:focus,
textarea:focus,
input:not([type]):focus {
    outline: none;
    border-color: var(--vt-c-brand);
    box-shadow: 0 0 0 2px var(--vt-c-brand);
}

[readonly] {
  opacity: 0.5;
}

.w-100 {
  width: 100%;
}

label {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--vt-c-text);
  display: block;
  margin-bottom: 0.25rem;
}

/* Auth user menu in navbar */
.nav-user-area {
  display: flex;
  align-items: center;
  margin-left: 16px;
}
