:root {
  --color-brand: #193f66;
  --color-brand-light: #337ecb;
  --color-brand-lighter: #4da8f5;
  --color-white: #fff;
  --color-logo: var(--color-brand);
}

:root.dark {
  --color-logo: var(--color-white);
}
