{
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 180,
  "endOfLine": "auto",
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always"
}
